<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FutureLearn | Home</title>
  <link rel="stylesheet" href="/css/courses.css">
</head>
<body background="/image/bb.jpg">
  {{> navbar}}

  <main>
    <section>
        <div calss="h1">
            <h1>Featured courses</h1>
        </div>
        <div class="category">
            <div > 
                    <img src="/image/intro_python_8.png">
                    <h3>Introduction to Python programming</h3>
                    <p>Learn the fundamentals of Python programming language from experts.</p>
                    <a href="https://youtu.be/DInMru2Eq6E" class="btn">Enroll now</a>
            </div>
            <div>
                <img src="/image/Excel.jpg" >
                <h3>The Ultimate Guide To Data Analysis with Excel</h3>
                <p>Master the basics of data analysis with Microsoft Excel.</p>
                <a href="https://youtu.be/OOWAk2aLEfk" class="btn">Enroll now</a>
            </div>
            <div>
                <img src="/image/PSYWords.jpeg">
                <h3>Introduction to psychology</h3>
                <p>Explore the fascinating world of psychology with this introductory course.</p>
                <a href="https://youtu.be/vo4pMVb0R6M" class="btn">Enroll now</a>
            </div>
            <div>
                <img src="/image/Adv-Cyber-Security.jpg">
                <h3>Advanced Cyber Security Training</h3>
                <p>Build essential cyber security skills and learn about security threats and how to manage them.</p>
                <a href="https://www.youtube.com/live/yr1Psapupsc?feature=share" class="btn">Enroll now</a>
            </div>
            <div>
                <img src="/image/quantum.jpg">
                <h3>Introduction to Quantum Computing</h3>
                <p>Learn the fundamentals of quantum computing and discover its real-world applications.</p>
                <a href="https://youtu.be/DESRI63E9UI" class="btn">Enroll now</a>
            </div>
            <div>
                <img src="/image/management.jpg">
                <h3>Project Management and Effective Business</h3>
                <p>Become an effective project manager and learn to deliver strategic change and transformation.</p>
                <a href="https://youtu.be/KG5cltHpbYs" class="btn">Enroll now</a>
            </div>
        </div>
    </section>
  </main>

  <footer>
    <p>© 2023 CourseLearn. All rights reserved.</p>
  </footer>
</body>
</html>
