<html>
<head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Asssist</title>
  <link rel="stylesheet" type="text/css" href="/css/event.css">
</head>
<body background="/image/bb.jpg">
  {{> navbar}}
  <main>
    <div class="h1">
      <h1>Events</h1>
    </div>
    <section>
      <h1 style="color:aliceblue">College Events</h1>
      <div background="/image/bg3.jpg" class="category">
        <div>
        <a href="https://www.youtube.com/watch?v=OV9OsrYGnmo&ab_channel=FramesofSriEshwar"></a>
        <h3  href="https://www.youtube.com/watch?v=OV9OsrYGnmo&ab_channel=FramesofSriEshwar">DHRONA 2023</h3>
        <p>College Cultural Fest | Glimpses Of Dhrona 2023</p>
        </div>
      </div>
      <!-- more categories -->
      <div class="category">
        <div>  
        <a href="https://www.youtube.com/watch?v=PnDkWkrFMHo&ab_channel=FramesofSriEshwar"></a>
        <h3 href="https://www.youtube.com/watch?v=PnDkWkrFMHo&ab_channel=FramesofSriEshwar">Smart India Hackathon 2022</a></h3>
        <p>Smart India Hackathon 2022 | Sri Eshwar College of Engineering | #sih2022 #smartindiahackathon #sece
SRI ESHWAR COLLEGE OF ENGINEERING - CBE 641202.</p>
        </div>
      </div>
    </section>
    <section>
      <h1 style="color:aliceblue">Online Events</h1>
      <div class="event">
        <div>
        <h3>KAVACH 2023</h3>
        <p>KAVACH-2023 is a unique opportunity for higher institutional Students and Startups in India to submit their innovative ideas/concepts under the different problem statements. </p>
        <a href="https://kavach.mic.gov.in/">Watch Now</a> <!-- Added a link to the live event -->
        </div>
      </div>
      <!-- more live events -->
      <div class="event">
        <div>
        <h3>Web Dev Hackathon by Osmania University</h3>
        <p>Web Dev Hackathon a hackathons by Osmania University (OU), Hyderabad, Telangana open to All Apply online 2023</p>
        <a href="https://unstop.com/hackathons/web-dev-hackathon-osmania-university-ou-hyderabad-telangana-666547">Watch Now</a> <!-- Added a link to the live event -->
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 My Events Website</p>
  </footer>
</body>
</html>